.parent {
  background-color: rgb(92, 133, 217);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  background-color: #d1e4f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 3rem;
  width: 75%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.updatebtn1 {
  display: none;
}
.manager {
  background-color: rgb(92, 133, 217);
  width: 100%;
  border: 6px solid rgb(92, 133, 217);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.manager input {
  padding: 1rem;
  width: 90%;
  font-size: 20px;
  border: 0;
  outline: 0;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  width: 75%;
  color: rgb(92, 133, 217);
  font-size: 18px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todos > div {
  padding: 1rem;
  border-radius: 6px;
  background-color: #ffffff;
  width: 120%;
  display: flex;
  justify-content: space-between;
}
.todos > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
}
.AuthF {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.AuthF button {
  width: 125px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  border-radius: 9px;
  font-weight: 700;
}
.todo h2:nth-child(1){
  padding-top: .5rem;
  margin: 1rem 0rem;
  font-weight: 800;
  font-size: 32px;
  color: blue;
}
.AuthStateMent {
  position: absolute;
  top: 15%;
  left: 25%;
  color: #ffffff;
}
.AuthF {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.AuthF button {
  align-self: flex-end;
}
.manager button {
  width: 20%;
  height: 100%;
  font-size: 32px;
  background-color: rgb(92, 133, 217);
  color: #ffffff;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
}

.hr {
  width: 130%;
  padding: 2px;
  background-color: rgb(162, 199, 236);
  border: 0;
}

.todo > button {
  padding: 5px 45px;
  font-size: 18px;
  background-color: rgb(162, 199, 236);
  color: #ffffff;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
}

.inmap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inmap > div:nth-child(1) {
  display: flex;
  width: 100% !important;
  justify-content: center;
  align-items: center;
}
.intodop1 > div:nth-child(1) {
  display: flex;
  width: 80% !important;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}
.intodop2,
.intodop2 > div:nth-child(1) {
  display: none;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.intodop1 > div:nth-child(1) p {
  margin: 0px 0px;
}

input.checkb {
  width: 15px;
  height: 15px;
}
.intodop1 div:nth-child(2) {
  display: flex;
  width: 20% !important;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 600px) {
  .parent {
    align-items: flex-start;
  }
  .todo {
    width: 100%;
  }
  .AuthStateMent {
    position: absolute;
    top: 15%;
    left: 10%;
    color: #ffffff;
  }

  .todos > div {
    padding: 1rem;
    border-radius: 6px;
    background-color: #ffffff;
    width: 95vw;
    display: flex;
    justify-content: space-between;
  }
  .AuthF button {
    width: 145px;
    height: 40px;
    border-radius: 9px;
    font-weight: 700;
    font-size: 20px;
  }
  .manager {
    width: 85vw;
  }
  .manager input {
    padding: 1rem;
    width: 80%;
    font-size: 18px;
    border: 0;
    outline: 0;
  }
  /* .manager span {
    width: 20%;
  } */
  .inmap {
    gap: 1rem;
  }
  .intodop1 > div:nth-child(1) {
    width: 100% !important;
  }
  .intodop1 > div:nth-child(2) {
    display: none;
  }
  .intodop2,
  .intodop2 > div:nth-child(1) {
    display: flex;
  }
}
